{% extends 'improve_health.html' %}

{% block title %}Tips for Diabetes{% endblock %}

{% block heading %}TIPS FOR DIABETES{% endblock %}

{% load static %}

{% block content %}

<!-- <div class="section">
    <h2>Health Tips for Diabetes</h2>
    <div class="tip">
        <p>1. Follow a balanced diet with controlled carbohydrate intake.</p>
        <p>2. Exercise regularly to improve insulin sensitivity and manage blood sugar levels.</p>
        <p>3. Monitor blood sugar levels regularly and take medications as prescribed by your doctor.</p>
        <p>4. Avoid sugary drinks and processed foods high in refined carbohydrates.</p>
        <p>5. Maintain a healthy weight and manage stress effectively.</p>
    </div>
</div>

<div class="section">
    <h2>Endocrinologist</h2>
    <div class="doctor">
        <img src="{% static 'images/team1.jpg' %}" alt="Doctor 1">
        <h3>Dr. Jane Smith</h3>
        <p>Endocrinologist</p>
        <p>MD, FACC</p>
        <p>Dr. Jane Smith is a board-certified endocrinologist specializing in...</p>
    </div>
    
    <div class="doctor">
        <img src="{% static 'images/team2.jpg' %}" alt="Doctor 2">
        <h3>Dr. Emily Johnson</h3>
        <p>Endocrinologist</p>
        <p>MD, FACE</p>
        <p>Dr. Emily Johnson is an experienced endocrinologist with expertise in...</p>
    </div>
</div>

<div class="section">
    <h2>Recommended Videos</h2>
    <div class="video">
        <h3>Diabetes prevention and causes</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i1XnnBMXWHI" frameborder="0" allowfullscreen></iframe>
    </div>
    
</div> -->
<div style="background-color: #ffffff;">

<div class="container1" >
  

<div class="section">
    <h2>Health Tips for Diabetes</h2>
    <div class="tip">
      <ul>
        <li><strong>Medication Adherence:</strong> If your doctor has prescribed medications such as blood thinners, beta-blockers, ACE inhibitors, or statins, make sure to take them as directed.</li>
        <li><strong>Healthy Diet:</strong> Follow a heart-healthy diet that includes plenty of fruits, vegetables, whole grains, lean proteins, and healthy fats like those found in nuts, seeds, and olive oil. Limit your intake of saturated fats, trans fats, cholesterol, sodium, and added sugars.</li>
        <li><strong>Regular Exercise:</strong> Engage in regular physical activity as recommended by your healthcare provider. Aim for at least 150 minutes of moderate-intensity aerobic exercise or 75 minutes of vigorous-intensity exercise per week, along with muscle-strengthening activities on two or more days per week.</li>
        <li><strong>Weight Management:</strong> Maintain a healthy weight or work towards achieving a healthy weight if you are overweight or obese. Losing even a small amount of weight can significantly improve heart health.</li>
        <li><strong>Quit Smoking:</strong> If you smoke, quit smoking as soon as possible. Smoking is a major risk factor for heart disease and quitting can significantly reduce your risk of heart-related complications.</li>
        <li><strong>Limit Alcohol Intake:</strong> If you drink alcohol, do so in moderation. Limiting alcohol consumption can help reduce your risk of developing heart disease and other health problems.</li>
        <li><strong>Manage Stress:</strong> Practice stress-reduction techniques such as deep breathing, meditation, yoga, or spending time on hobbies and activities that you enjoy.</li>
        <li><strong>Monitor Blood Pressure and Cholesterol:</strong> Keep track of your blood pressure and cholesterol levels regularly, as recommended by your healthcare provider. High blood pressure and high cholesterol are major risk factors for heart disease.</li>
        <li><strong>Get Quality Sleep:</strong> Aim for 7-9 hours of quality sleep per night. Poor sleep quality and sleep disorders can contribute to heart disease risk.</li>
        <li><strong>Follow Up with Healthcare Provider:</strong> Attend regular follow-up appointments with your healthcare provider to monitor your condition, adjust medications if necessary, and address any concerns or questions you may have.</li>
    </ul>
    </div>
</div>


<div class="section">
  <h2>Recommended Videos</h2>
  
  <div class="video">
      <h3>Diabetes prevention and causes</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/i1XnnBMXWHI" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video">
    <h3>Diabetes Prevention and Management: Tips for Taking Control</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zJnZXInr83k" frameborder="0" allowfullscreen></iframe>
</div>

  
</div>
</div>

<section class="team_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Suggested <span>Doctors</span>
        </h2>
      </div>
      <div class="carousel-wrap " align="center">
        <div class="owl-carousel team_carousel">
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/Dr.-Mahesh-Dahal-endo.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  <a href="https://www.clinicone.com.np/dr-mahesh-dahal-md/" target="_blank" style="text-decoration: underline; color: blue;">Dr. Mahesh Dahal</a>

                </h5>
                <h6>
                  Endocrinologist
                </h6>
                <div class="social_box">
                  <h6>
                    Department: Endocrinology<br>

                    Qualification: MBBS, MD (Internal Medicine)<br>
                    Works at: Clinic One Hospital </br>
                    Available: (Sunday-Friday) 3PM to 8PM.</br>
                    
                    
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/subi kharel diabetes.png' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  <a href="https://hamshospital.com/doctor/dr-subi-kharel/" target="_blank" style="text-decoration: underline; color: blue;">Dr. Subi Kharel</a>
                </h5>
                <h6>
                  Endocrinologist
                </h6>
                <div class="social_box">
                  <h6>
                    Department: Endocrinology<br>
                    
                    Qualification: MD (Endocrinology), MBBS<br>
                    Works at: HAMS Hospital </br>
                    Available: (Sunday-Friday) 2PM to 6PM.</br>
                    
                   </h6>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="item">
            <div class="box">
              <div class="img-box">
                <img src="{% static 'images/Dr.-Sanjeev-Thapa-1-cardio.jpg' %}" alt="" />
              </div>
              <div class="detail-box">
                <h5>
                  Dr. Sanjeev Thapa
                </h5>
                <h6>
                  Endocrinologist
                </h6>
                <div class="social_box">
                  <h6>
                    Department: Endocrinology<br>
                    Qualification: MD (Endocrinology), MBBS<br>
                    
                    Contact no: 9779854321
                    
                  </h6>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          
        </div>
      </div>
    </div>
  </section>
  <script>
  
  </div>
  
  

{% endblock %}